<h1>Editing collector</h1>

<%= render "form", collector: @collector %>

<br>

<div>
  <%= link_to "Show this collector", @collector %> |
  <%= link_to "Back to collectors", collectors_path %>
</div>
